body {
    /* background: linear-gradient(to bottom, #1e3a5f, #546780); */
    background: linear-gradient(135deg, #bdc3c7, #2c3e50);
    color: #ffffff;
}

.img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.btn-excluir,
.btn-endereco,
.btn-editar-cad,
.btn-senha {
    text-decoration: none;
    color: inherit;
}

label {
    color: white;
}
